<h1>Vote for <%= @position.name %></h1>

<ul>
  <% @candidates.each do |candidate| %>
    <li>
      <img src="<%= candidate.image_url %>" alt="<%= candidate.name %>" />
      <%= candidate.name %> - <%= candidate.votes.count %> votes
      <%= button_to 'Vote', position_candidate_vote_path(@position, candidate), method: :post %>
    </li>
  <% end %>
</ul>
