<h1><%= @position.name %> - Candidates</h1>

<ul>
  <% @position.candidates.each do |candidate| %>
    <li>
      <% if candidate.image.attached? %>
        <%= image_tag candidate.image, alt: candidate.name, width: 150, height: 150 %>
      <% else %>
        <p>No image available</p>
      <% end %>
      <%= candidate.name %> - <%= candidate.votes.count %> votes
      <%= button_to 'Vote', position_candidate_vote_path(@position, candidate), method: :post %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add Candidate', new_position_candidate_path(@position) %>
<%= link_to 'Back', positions_path %>

