<%= form_for(@user, url: registration_path(:user)) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Sign up" %>

  <div>
  <%= f.label :verification_code, "Developer Verification Code" %>
  <%= f.text_field :verification_code %>
</div>
<% end %>
