<%= form_with model: @candidate, url: admin_candidate_path(@candidate), method: :patch, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :position_id, "Position" %>
    <%= form.collection_select :position_id, @positions, :id, :name, prompt: "Select Position" %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit "Save Changes" %>
  </div>
<% end %>
