<h1>Candidates List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.position.name %></td>
        <td>
          <%= link_to 'Edit', edit_admin_candidate_path(candidate), class: "action-link" %>
         <%= button_to 'Delete', admin_candidate_path(candidate), method: :delete, data: { confirm: "Are you sure you want to delete this candidate?" }, class: "delete-link action-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Candidate', new_admin_candidate_path, class: "action-link" %>
